<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title || '红星美凯龙'%></title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_o4j8h0hkla9yhkt9.css"/>

  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/common/flexible/0.3.4/flexible.js"></script>
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/common/react/15.4.1/react.min.js"></script>
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/common/react/15.4.1/react-dom.min.js"></script>
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/rs_antd_2_8_1.js"></script>
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.aureuma_domain%>/js/aureuma.data.min.js"></script>
  <link href="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
</head>

<body>
<div id="application"></div>
</body>
</html>
